<div class="card">
    <div class="card-body">
        <h1>Sobre nosotros</h1>
        <!-- Texto Improvisorio de lorem !--> 
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Tenetur doloribus illo obcaecati! Ipsa id eligendi quas accusantium. 
        Nihil adipisci, autem fuga modi consequatur voluptas quas? 
        Ad nihil autem sint ipsam perferendis ipsum veritatis aperiam 
        saepe ut voluptatem non eum neque corporis veniam numquam odit officiis 
        distinctio sequi maiores minima dolorum et quos, velit accusantium? At quisquam numquam, 
        eaque porro officiis, veniam expedita harum obcaecati cupiditate saepe alias id earum omnis? 
        Culpa impedit est similique, tempora odit minus vero ab sapiente.</p>
    </div>
</div>