<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1 class="display-4">Apk Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, ducimus?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quae reprehenderit placeat ad 
        corrupti veritatis nostrum animi aut quo est.</p>
    <a href="https://www.w3schools.com/" class="btn btn-primary">Guugle</a>
</div>

