body{
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(rgba(2, 5, 4, 0.507), rgba(1, 2, 1, 0.466)), url("../img/fondo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.logo{
    width: 40%;
}